
<div class="card m-1">
    <div class="card-body">
        <!-- <h4 class="card-title"></h4> -->
         <div class="row">
            <div class="col-md-3">
                Evaluador: {{this.evaluacion?.nombre_evaluador}}
            </div>
            <div class="col-md-3">
                Evaluado: {{this.evaluacion?.nombre_evaluado}}
            </div>
            <div class="col-md-3">
                ID de la evaluacion : {{this.evaluacion?.id}}
            </div>
            <div class="col-md-3">
                Mes de la Evaluacion : {{this.evaluacion?.mes_evaluacion}}
            </div>
         </div>
    </div>
</div>

<div class="card">
    <p-editor [(ngModel)]="text" [style]="{ height: '320px' }" />
</div>

<div class="d-grid gap-2">
    <button type="button" (click)="guardarAreaDeOportunidad()" class="btn btn-success">Guardar</button>
</div>


<p-toast></p-toast>