
    <form action="" [formGroup]="formPassword" >
        <h5 class=" text-secondary">Cambiar Contraseña para <span class="text-dark"> {{this.usuario?.usuario_nombre}} </span>
            <br> con nombre de  usuario: <span class="text-info"> {{this.usuario.usuario_nombre}} </span>
        </h5>
        
    <div class="row">
        <div class="col-md-12">
          <label for="password1">Nueva Contraseña</label>
          <input formControlName="password" class="form-control" type="password">
        </div>
        <div class="col-md-12">
          <label for="password2">Repetir Contraseña</label>
          <input formControlName="passwordRepeat" class="form-control" type="password">
        </div>
        
         <!-- Mostrar el mensaje de error si las contraseñas no coinciden  -->
         <div *ngIf="formPassword.hasError('passwordMismatch') && formPassword.get('passwordRepeat')?.touched" class="text-danger">
          Las contraseñas no coinciden
        </div> 
      </div>
      

    <div class="m-1">
    <button (click)="cambiarContrasenia()" [disabled]="this.formPassword.invalid" type="button" class="btn btn-primary">Cambiar</button>
    <p-toast />
    </div>
    </form>