<!-- <div class="container mt-5">
    <div class="text-center mb-5">
      <h2 class="fw-bold">Plataforma RH</h2>
      <p class="text-muted">Panel de control - Recursos Humanos</p>
    </div>
  
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body text-center">
            <h5 class="card-title"> Evaluaciones</h5>
            <p class="card-text fs-4 fw-bold text-primary">153</p>
            <p class="text-muted">Total registrados</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body text-center">
            <h5 class="card-title">Pendientes</h5>
            <p class="card-text fs-4 fw-bold text-success">12</p>
            <p class="text-muted">Total Pendientes</p>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="mt-5">
      <h4>Bienvenido, a la plataforma RHnet 👋</h4>
      <p class="text-muted">
         Podras ver las Evaluaciones creadas en tiempo real y Pendientes .
      </p>
    </div>
  </div>
   -->