

<h4 class="text-center">Evaluaciones Completadas</h4>



<div *ngIf="this.evaluaciones.length==0" class="alert">
    Aun no hay evaluaciones completadas
</div>




<p-table *ngIf="this.evaluaciones.length>=1"
    [value]="evaluaciones"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    #dt1
    [globalFilterFields]="['evaluado', 'mes_evaluacion', 'evaluador', 'id', 'tipo_evaluacion', 'fecha_creacion']"
    size="small"
    >

    <!-- <ng-template #caption>

        <p-select 
      [options]="meses" 
      [(ngModel)]="mesSeleccionado" 
      placeholder="Filtrar por mes" 
      (onChange)="dt1.filter(mesSeleccionado, 'mes_evaluacion', 'contains')" 
      class="w-60" 
      optionLabel="label" 
      optionValue="value"
    ></p-select>

        <div class="flex">
            <p-button label="Borrar" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text"  [(ngModel)]="searchValue"  (input)="dt1.filterGlobal(getInputValue($event), 'contains')" placeholder="Buscar Palabra" />
            </p-iconfield>
        </div>
    </ng-template> -->
    <ng-template #caption>
        <div class="container mb-3">
          <div class="row align-items-center">
      
            <!-- Selector de mes -->
            <div class="col-md-3 mb-2">
              <p-select 
                [options]="meses" 
                [(ngModel)]="mesSeleccionado" 
                placeholder="Filtrar por mes" 
                (onChange)="dt1.filter(mesSeleccionado, 'mes_evaluacion', 'contains')" 
                class="w-100" 
                optionLabel="label" 
                optionValue="value"
                [filter]="true" filterBy="value"
                [showClear]="true"
                >
              </p-select>
            </div>
            <div class="col-md-3 mb-2">
              <p-select 
                [options]="ciudades" 
                [(ngModel)]="ciudadSeleccionada" 
                placeholder="Filtrar por Ciudad" 
                (onChange)="dt1.filter(ciudadSeleccionada, 'ciudad_evaluado', 'contains')" 
                class="w-100" 
                optionLabel="nombre" 
                optionValue="nombre"
                [filter]="true" filterBy="nombre"
                [showClear]="true"
                >
              </p-select>
            </div>
      
            <!-- Botón de borrar -->
            <div class="col-md-2 mb-2">
              <p-button label="Borrar" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" class="w-100" />
            </div>
      
            <!-- Barra de búsqueda -->
            <div class="col-md-4 mb-2">
              <p-iconfield iconPosition="left" class="w-100">
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input 
                  pInputText 
                  type="text" 
                  [(ngModel)]="searchValue"  
                  (input)="dt1.filterGlobal(getInputValue($event), 'contains')" 
                  placeholder="Buscar palabra" 
                  class="form-control" />
              </p-iconfield>
            </div>
      
          </div>
        </div>
      </ng-template>
      
      
        <ng-template #header>
            <tr>
                <th style="width:10%"  pSortableColumn="id" >
                    ID
                </th>
                <th style="width:10%"  pSortableColumn="fecha_creacion" >
                    Fecha<p-sortIcon field="fecha_creacion" />
                </th>
                <th style="width:10%"> Mes</th>
                <th style="width:10%">
                    Tipo Evaluacion
                </th>
                <th style="width:10%">
                    Ciudad
                </th>
                <th style="width:25%" >
                    Evaluador
                </th>
                <th style="width:25%">
                    Evaluado
                </th>
                <th style="width:10%">
                    Ver pdf
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-evaluacion>
            <tr>
                <td>{{ evaluacion.id }}</td>
                <td>{{ evaluacion.fecha_creacion | date:'dd/MM/yyyy' }}</td>
                <td>{{ evaluacion.mes_evaluacion }}</td>
                <td>{{ evaluacion.tipo_evaluacion }}</td>
                <td>{{ evaluacion.ciudad_evaluado }}</td>
                <td>{{ evaluacion.evaluador }} {{evaluacion.evaluador_paterno}}</td>
                <td>{{ evaluacion.evaluado  }} {{evaluacion.evaluado_paterno}}</td>
                <td>
                     <button (click)="verPDF(evaluacion)" style="background-color:#0ab4df; border:#0ab4df;" class="btn btn-info btn-small">Ver PDF </button> 
                 </td>
            </tr>
        </ng-template>

</p-table>
<p-toast />
